<h1>welcome to angular Project</h1> <hr>
<!--1. As a custom html element-->
<!-- <app-home></app-home> -->

<!--2. As class value for any html element -->
<!-- <div class="app-home"></div> -->

<!--3. As attribute  for any html element -->
<!-- <div app-home></div> -->

<!-- <app-interpolation></app-interpolation> -->

<!-- <app-p-binding></app-p-binding> -->

<!-- <app-c-binding></app-c-binding> -->

<!-- <app-e-binding></app-e-binding> -->

<!-- <app-s-binding></app-s-binding> -->

<!-- <app-to-way-data-binding></app-to-way-data-binding> -->

<!-- <app-if></app-if> -->

<!-- <app-for></app-for> -->


<!-- <app-parent></app-parent> -->

<router-outlet></router-outlet>

<app-show-api-data></app-show-api-data>